.title {
    text-align: center;
    font-weight: bold;
}

img {
    width: 100%;
    height: 100%;
}

.figure {
    width: 100%;
    height: 100%;
    padding: 0px;
    background: #fff;
    overflow: hidden;
}

.rotate img {
    transform: rotate(0) scale(1);
    transition: .6s ease-in-out;
}
.rotate img:hover {
    transform: rotate(17deg) scale(1.8);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    cursor: pointer;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/*tr:nth-child(even) {*/
    /*background-color: #dddddd;*/
/*}*/

.button {
    margin-top: 10px;
}