<div class="container" th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-md-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna nunc, porta eget
                ligula sed,
                maximus faucibus neque. Morbi auctor elit ut nisl imperdiet, eu eleifend tortor accumsan.
                Proin semper arcu a cursus tincidunt. Vestibulum rutrum velit nunc, nec maximus odio eleifend tempor.
                Aenean mattis eu odio vitae fringilla. Sed lorem ligula, ullamcorper non sapien id, tempor vulputate
                elit.
                Quisque mattis, magna ut pretium luctus, nisi ipsum suscipit arcu, aliquet accumsan dolor ex bibendum
                justo.
                Morbi rhoncus erat nec scelerisque interdum. Cras eget eleifend nisl. Praesent sed porta massa, nec
                tincidunt
                nibh.
            </p>
        </div>
    </div>
</div>


